.add-comment {
    background-color: var(--White);
    padding: 1rem;
    border-radius: .5rem;
    display: grid;
    gap: 1rem;
    grid-template-areas: 
    "text text text"
    "photo _ button";

}

.add-comment__text-area {
    border-color: var(--LightGray);
    border-radius: .5rem;
    padding: 1rem 2rem;
    font-size: inherit;
    font-family: inherit;
    color: black;
    resize: none;
    min-height: 6rem;
    grid-area: text;
}

.add-comment__text-area:focus-visible {
    outline: 1px solid var(--DarkBlue);
}

.add-comment__text-area:hover {
    cursor: pointer;
}

.add-comment__text-area::placeholder {
    color: var(--GrayishBlue)
}

@media screen and (min-width: 600px) {
    .add-comment {
        grid-template-columns: max-content 1fr max-content;
        grid-template-areas: 
        "photo text button";
    }
    .add-comment__send {
        align-self: flex-start;
    }
    
}