
.button {
    border: none;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    width: max-content;
    background-color: transparent;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: .5rem;
    transition: .3s;
}

.button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.button--reply, .button--edit {
    color: var(--ModerateBlue);
}

.button--delete {
    color: var(--SoftRed)
}

.button--modal {
    background-color: var(--GrayishBlue);
    color: var(--White);
    padding: .8rem 1.8rem;
    border-radius: .5rem;
    text-transform: uppercase;
}

.button--cancel {
    background-color: var(--SoftRed)
}

.button--reply {
    grid-area: button;
    justify-self: flex-end;
}