.comment {
    background-color: var(--White);
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 5px 15px var(--LightGray);
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "header header header"
        "text text text"
        "score _ button";
}

.comment__text {
    color: var(--GrayishBlue);
    line-height: 1.5;
    grid-area: text;
}

.comment__text__reply {
    font-weight: 500;
    color: var(--ModerateBlue);
}

.comment__edit {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    grid-area: text;
}

.comment__edit textarea {
    width: 100%;
}

.comment__edit .button {
    align-self: flex-end;
}
@media screen and (min-width: 600px) {
    .comment {
        grid-template-columns: repeat(4, auto);
        grid-template-areas: 
        "score  header header button"
        "score text text text";
    }
    
}