.reply-list {
    display: flex;
    
}

.reply-list__divider {
    padding-left: 1rem;
    border-left: 2px solid var(--LightGray)
}

.reply-list__replies {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (min-width: 600px) {
    .reply-list {
        padding-left: 2rem;
    }
    .reply-list__divider {
        padding-left: 2rem;
    }
    
}